<h1>Наші товари</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
      <p>Ціна: <%= number_to_currency(product.price, unit: "₴") %></p>
      <p>В наявності: <%= product.stock %> шт.</p>
    </li>
  <% end %>
</ul>
<% if current_user&.admin? %>
  <%= link_to 'Додати товар', new_product_path %>
<% end %>
