<!DOCTYPE html>
<html>
<head>
  <title>Confectionery Shop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
<nav>
  <% if current_user&.admin? %>
    <%= link_to 'Адмін-панель', admin_products_path %>
  <% end %>

  <% if logged_in? %>
    Привіт, <%= current_user.email %>!
    <%= link_to "Вийти", logout_path, method: :delete, data: { confirm: "Ви впевнені, що хочете вийти?" } %>
  <% else %>
    <%= link_to 'Реєстрація', new_user_path %> |
    <%= link_to 'Вхід', new_session_path %>
  <% end %>
</nav>
<%= yield %>
</body>
</html>
